<div class="heading">User Account Add/Edit</div>
<mat-card id='edit_user'>
<mat-card-header>
  <span>User Account Details</span>
  <span class="spacer"> </span>
  <span>
      <button id="exit_user_button" mat-stroked-button color="primary"
          [routerLink]="['../user-management/list-user']">Exit</button>
  </span>
</mat-card-header>
<mat-card-content>
  <form [formGroup]="manageUserForm" (ngSubmit)="onSubmit()"
  autocomplete="off">
  <div class="label-hr">
    <span>User Details</span>
  </div>
  <div class="card-row">
    <div class="card-column">
      <mat-form-field  appearance="outline">
        <mat-label>
          User Name
        </mat-label>
        <input matInput type="text"  formControlName="username">
        <mat-hint>
          Maximum 100 alphanumeric and ! , . - / are allowed
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="card-column">
      <mat-form-field  appearance="outline">
        <mat-label>
          Password
        </mat-label>
        <input matInput type="password"  formControlName="password">
      </mat-form-field>
    </div>
    <div class="card-column">
      <mat-form-field  appearance="outline">
        <mat-label>
          Age
        </mat-label>
        <input matInput type="text"  formControlName="age" />
      </mat-form-field>
    </div>
    <div class="card-column">
      <mat-form-field  appearance="outline">
        <mat-label>
          Salary
        </mat-label>
        <input matInput type="text"  formControlName="salary" />
      </mat-form-field>
    </div>
  </div>
   <div class="card-row">
    <div class="card-column">
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select placeholder="Select Ethnicity" formControlName="country">
          <mat-option>-- Select --</mat-option>
           <mat-option *ngFor=" let option of refData.countries" [value]="option.id">
            {{option.value}}
          </mat-option> 
        </mat-select>
      </mat-form-field>
    </div>
    <div class="card-column">
      <mat-form-field appearance="outline">
        <mat-label>Roles</mat-label>
        <mat-select placeholder="Select Ethnicity" formControlName="roles">
          <mat-option>-- Select --</mat-option>
           <mat-option *ngFor=" let option of roles" [value]="option.id">
            {{option.value}}
          </mat-option> 
        </mat-select>
      </mat-form-field>
    </div>
  </div> 
  <mat-card-footer class="footer">
    <span class="spacer"></span>
    <span>
      <button type="submit" id="save_user_button" mat-flat-button color="primary"
        [disabled]="!manageUserForm.valid">Save</button>
    </span>
  </mat-card-footer>
</form>
</mat-card-content>
</mat-card>