/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

// https://material.angular.io/guide/theming
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '@angular/material/prebuilt-themes/purple-green.css';


@media print {
    .breadcrumb {
        display: none !important;
    }
}

.card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(50% - 12px);

    .mat-form-field {
      width: 100%;
    }
  }

  .group-title {
    color: #2b769b;
    margin-bottom: 12px;
  }

  .group-title.group-subtitle {
    color: #2b769b;
    margin-bottom: 24px;
  }

  .group-subtitle {
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 24px;
  }

  .mobile-label {
    display: none;
  }

  .mat-row {
    min-height: 56px;
  }


  .label-hr {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 16px 0;
    color: #149fd8;

    span {
      font-size: 1.3em;
      font-weight: 100;
      padding-right: 8px;
      // color: mat-color($seq-primary);
      color: blue;
    }

    &:after {
      content: "";
      flex: 1;
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    }
    &:before {
      content: "";
      width: 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    }

    &:after {
      margin-left: 0.25em;
    }
  }


  .search_by {
    border: 1px solid rgba(0, 0, 0, 0.24);
    // padding: 3px 0 3px 12px;
    padding: 0.25em 0.75em;
    margin: 0 12px 0 0;
    border-radius: 4px;
    font-size: 0.95em;

    .mat-form-field-infix {
      width: 300px;
      border-top: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper,
    .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-form-field-underline {
      display: none;
      height: 0;
      background-color: transparent !important;
    }

    .mat-form-field-suffix .mat-icon-button {
      width: 24px;
      height: 24px;

      &:hover {
        background: transparent;
      }

      .mat-icon {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.64);
      }
    }
  }

  .search_by.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  .search_by .mat-input-element::placeholder {
    display: none;
    opacity: 0;
  }

  .search_by .mat-input-element::placeholder,
  .search_by .mat-input-element::-webkit-input-placeholder,
  .search_by .mat-input-element::-moz-placeholder {
    opacity: 0;
  }


  .spacer {
    flex: 1 1 auto;
  }
