<div class="heading">User Account Details</div>

<mat-card id='view_workshop'>
  <mat-card-header>
      <span class="spacer system_setup"> {{users.username}} </span>
      <span>
          <button id="exit_user_button" mat-stroked-button color="primary"
              [routerLink]="['../user-management/list-user']">Exit</button>
      </span>
  </mat-card-header>
  <mat-card-content>
      <div class="label-hr">
          <span id="user">View User</span>
      </div>
      <div class="card-row">
          <div class="card-column">
              <p class="info">
                  <span class="details_label" id="workshop_name">User Name</span> {{users.username}}
              </p>
          </div>
      </div>
      <div class="card-row">
          <div class="card-column">
              <p class="info">
                  <span class="details_label" id="capacity">Age</span> {{users.age}}
              </p>
          </div>
      </div>
      <div class="card-row">
        <div class="card-column">
            <p class="info">
                <span class="details_label" id="capacity">Salary</span> {{users.salary}}
            </p>
        </div>
    </div> 
    <div class="card-row">
        <div class="card-column">
            <p class="info">
                <span class="details_label" id="country">Country</span>
                <app-list-label *ngIf="refData" [list]="refData?.countries" [value]="users?.country"></app-list-label>
            </p>
        </div>
    </div>   
  </mat-card-content>
</mat-card>